body {
    background-color: #E8E8E8;
}
#top {
    height: 200px;
    width: 100%;
    /*background-color: #E8E8E8;*/
}
#title, h1 {
   font-size: 90px;
   color: green;
   text-align: center;
}
#login_form {
    width: 300px;
    margin: 50px auto 0 auto;
    padding: 10px;
    float: center;
    border: 1px solid green;
}
#home_link {
    float: right;
    text-align: right;
    position: relative;
}
